{% load static i18n l10n sass_tags sekizai_tags %}

{% addtoblock "css" %}<link href="{% sass_src 'shop/css/stripe.scss' %}" rel="stylesheet" type="text/css" />{% endaddtoblock %}

{% addtoblock "js" %}<script src="https://js.stripe.com/v2/" type="text/javascript"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{% static 'shop/js/angular-stripe.js' %}" type="text/javascript"></script>{% endaddtoblock %}

{% addtoblock "js" %}<script src="{% static 'shop/js/stripe.js' %}" type="text/javascript"></script>{% endaddtoblock %}
{% add_data "ng-requires" "django.shop.stripe" %}
{% addtoblock "ng-config" %}['stripeProvider', function(stripeProvider) { stripeProvider.setPublishableKey('{{ SHOP_STRIPE_PUBKEY }}'); }]{% endaddtoblock %}

<div class="panel panel-default">
{% block panel_heading %}
	<div class="panel-heading">
		<h2 class="panel-title">
			{% trans "Payment" %}
			<img class="pull-right" src="{% static 'shop/icons/stripe-solid-dark.png' %}" srcset="{% static 'shop/icons/stripe-solid-dark.png' %} 1x, {% static 'shop/icons/stripe-solid-dark@2x.png' %} 2x, {% static 'shop/icons/stripe-solid-dark@3x.png' %} 3x" width="119" height="26" style="margin-top: -4px;">
		</h2>
	</div>
{% endblock panel_heading %}
	<div class="panel-body">
		<form role="form" name="stripe_card_form" stripe-card-form novalidate{% if SHOP_STRIPE_PREFILL %} ng-init="payment={card: {name: 'John Doe', number: '4242 4242 4242 4242', exp_month: '01', exp_year: '2020', cvc: '123'}}"{% endif %}>
			<div class="row">
				<div class="col-xs-12">
					<div class="has-feedback form-group">
						<label for="id_name" class="djng-field-required">{% trans "Card Holder" %}</label>
						<div class="input-group">
							<input type="text" id="id_name" class="form-control" name="name" placeholder="Card holder name" ng-model="payment.card.name" ng-required="true" />
							<span class="input-group-addon"><i class="fa fa-address-card-o"></i></span>
						</div>
						<ul ng-show="stripe_card_form['name'].$touched" class="djng-form-control-feedback djng-field-errors" ng-cloak>
							<li ng-show="stripe_card_form['name'].$error.required" class="invalid">{% trans "This field is required." %}</li>
							<li ng-show="stripe_card_form['name'].$valid" class="valid"></li>
						</ul>
						<ul ng-show="stripe_card_form['name'].$pristine" class="djng-form-control-feedback djng-field-errors" ng-cloak>
							<li ng-show="stripe_card_form['name'].$error.rejected" class="invalid" ng-bind="stripe_card_form['name'].$message"></li>
						</ul>
					</div>
					<div class="has-feedback form-group">
						<label for="id_number" class="djng-field-required">{% trans "Creditcard Number" %}</label>
						<div class="input-group">
							<input type="text" id="id_number" class="form-control" name="number" placeholder="Valid Card Number" ng-model="payment.card.number" ng-required="true" ng-pattern="/^[0-9 ]{16,}$/" />
							<span class="input-group-addon"><i class="fa fa-cc-visa"></i>&nbsp;<i class="fa fa-cc-mastercard"></i></span>
						</div>
						<ul ng-show="stripe_card_form['number'].$dirty" class="djng-form-control-feedback djng-field-errors" ng-cloak>
							<li ng-show="stripe_card_form['number'].$error.required" class="invalid">{% trans "This field is required." %}</li>
							<li ng-show="stripe_card_form['number'].$valid" class="valid"></li>
						</ul>
						<ul ng-show="stripe_card_form['number'].$pristine" class="djng-form-control-feedback djng-field-errors" ng-cloak>
							<li ng-show="stripe_card_form['number'].$error.rejected" class="invalid" ng-bind="stripe_card_form['number'].$message"></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<div class="has-feedback shopstripe-exp_dates">
						<label for="id_exp_month" class="djng-field-required">{% trans "Expiration Date" %}</label>
						<div class="form-inline">
							<div class="form-group">
								<select id="id_exp_month" class="form-control" name="exp_month" ng-model="payment.card.exp_month" ng-required="true">
									<option value="" selected="selected" disabled="disabled">{% trans "Month" %}</option>
								{% for mm, month_name in payment_modifiers.month_range %}
									<option value="{{ mm }}">{{ mm }} / {{ month_name }}</option>
								{% endfor %}
								</select>
							</div>
							<div class="form-group">
								<select class="form-control" name="exp_year" ng-model="payment.card.exp_year" ng-required="true">
									<option value="" selected="selected" disabled="disabled">{% trans "Year" %}</option>
								{% for year in payment_modifiers.years_range %}
									<option value="{{ year|unlocalize }}">{{ year|unlocalize }}</option>
								{% endfor %}
								</select>
							</div>
							<ul ng-show="stripe_card_form['exp_month'].$touched && stripe_card_form['exp_year'].$touched" class="djng-form-control-feedback djng-field-errors" ng-cloak>
								<li ng-show="stripe_card_form['exp_month'].$valid && stripe_card_form['exp_year'].$valid" class="valid"></li>
							</ul>
							<ul ng-show="stripe_card_form['exp_month'].$pristine || stripe_card_form['exp_year'].$pristine" class="djng-form-control-feedback djng-field-errors" ng-cloak>
								<li ng-show="stripe_card_form['exp_month'].$error.rejected" class="invalid" ng-bind="stripe_card_form['exp_month'].$message"></li>
								<li ng-show="stripe_card_form['exp_year'].$error.rejected" class="invalid" ng-bind="stripe_card_form['exp_year'].$message"></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-5 col-sm-offset-1">
					<div class="has-feedback form-group">
						<label for="id_cvc" class="djng-field-required">{% trans "Security Code" %}</label>
						<div class="input-group">
							<input id="id_cvc" type="password" class="form-control" name="cvc" placeholder="CVC" ng-model="payment.card.cvc" ng-required="true" ng-pattern="/^[0-9]{3,}$/" autocomplete="off" />
							<span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
						</div>
						<ul ng-show="stripe_card_form['cvc'].$touched" class="djng-form-control-feedback djng-field-errors" ng-cloak>
							<li ng-show="stripe_card_form['cvc'].$error.required" class="invalid">{% trans "This field is required." %}</li>
							<li ng-show="stripe_card_form['cvc'].$valid" class="valid"></li>
						</ul>
						<ul ng-show="stripe_card_form['cvc'].$pristine" class="djng-form-control-feedback djng-field-errors" ng-cloak>
							<li ng-show="stripe_card_form['cvc'].$error.rejected" class="invalid" ng-bind="stripe_card_form['cvc'].$message"></li>
						</ul>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
